.parent{
display: flex;
flex-direction: row;
/* writing-mode: vertical-lr;cambia el texto a vertical etc */
flex-wrap: nowrap;
border: 4px solid black;
width: 200px;
box-sizing: border-box;
}
.item{
    border: 1px solid;
   opacity: 0.9;
   width: 100px;
   height: 100px;
   background-color: #09f;
   flex: 1;
}
.item:first-child{
    background-color: yellow;
}
.item:last-child{
    background-color: red;
}
/* .parent{
    border: 5px solid black;
    width: 250px;
    height: 500px;
    box-sizing: border-box;
     position: relative; 
    position: relative;
}
.container{
    background: #0af;
    width: 150px;
    height: 150px;
     inset: 0; 
     position: fixed;hace que se qude fijo en la pagina 
    position: sticky; esto hace que el elemento se quede pegado a un contenedor y se mueva hasta donde acabe ese contenedor 
    position: fixed;
    z-index: 2;
} */